

<div class="container c">
  <div class="row top">
    <h1 style="color:  #F7E108;">Create Playlist</h1>
  </div>
  <div class="form-horizontal">
    <div class="row">
      
        <div class="col-sm-10">
          <input class="form-control i" [(ngModel)]="PLAYLISTNAME"  type="text" placeholder="Enter the name of the playlist" id="grad">
        </div>
        <button type="button" (click) = "checkboxfunction()"  (click) = "anotherforloopfunction()" class="btn">Create</button>
    </div>

    <!-- name='drama'(click)='selectedHero() -->
    
    <div class="row r" id="scrollable">
          <div *ngFor="let song of songsfrombk; let i = index">
            <input type="checkbox" name = "checkboxname" value = {{song.songID}}  >
            <!-- card starts here -->
            <div class="card carddd">
              <div class="row no-gutters">
                <div class="col-sm-1">
                  <img class="card-img" [src] = "'http://localhost:8001/' + song.picture" alt="Cover photo" style="height:55px; width: 55px;">
                </div>
                <div class="col-sm-11" >
                  <div class="card-body" style="padding: 0px;">
                    <p class="card-title title"><b>{{song.nameofthesong}}</b></p>
                    <p class="card-text txt">{{song.genre}}</p>
                  </div>
                </div>
            </div>
            <!-- card ends here -->
          </div>

    </div>
    
  </div>
</div>